<form (ngSubmit)="onSubmit()">
    <div class="input-group">
        <label for="initial-investment">Initial Investment</label>
        <input type="number" min="0" step="1" required>
        <label for="initial-investment">Annual Investment</label>
        <input type="number" min="0" step="1" required>
        <label for="initial-investment">Expected Return</label>
        <input type="number" min="0" step="1" required>
        <label for="initial-investment">Duration</label>
        <input type="number" id="initial-investment" name="initial-investment" min="0" step="1" required>
        <button type="submit">Calculate</button>
    </div>
</form>